
<div class="container-fiuld user">
  <div class="row">
    <%= render "shared/user_nav" %>
    <div class="col-lg-10 user-view">
      <div class="user-view-box">
        <div class="update-content">
          <div class="row">
            <h5 class="prf-title">プロフィール</h5>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="icon-box">
                <%= image_tag @user.icon_img.url,class:"icon_image host-icon" if @user.icon_img? %>
              </div>
            </div>
          </div>
        </div>
        <%= form_for current_user, url: {action: 'profile_update'} do |f|%>
        <div class="update-content">
          <div class="row">
            <div class="field">
              <%= f.label "アイコン画像", class: "col-md-3 required-a" %>
              <%= f.file_field :icon_img, class: "mb-4 col-md-9", :placeholder => "アイコン画像をアップロード" %>
            </div>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <div class="field">
              <%= f.label "名前", class: "col-md-3 required-a" %>
              <%= f.text_field :name,:value => "#{current_user.name}", class: "form-control mb-4 col-md-9",:placeholder => "名前を入力" %>
            </div>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <div class="field">
              <%= f.label "自己紹介", class: "col-md-3 required-a" %>
              <%= f.text_area :introduction, class: "form-control mb-4 col-md-9",:placeholder => "自己紹介を入力", rows: 5  %>
            </div>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <div class="actions">
              <%= f.submit "更新", class: "col-md-2 btn btn-primary mx-3 upd-btn"%>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
