<div class="container room-show">
  <div class="row">
    <div class="col-md-8">
      <%= image_tag @room.room_img.url,class:"room-show-image"%>
      <div class="room-show-detile">
        <div class="room-show-detile-icon">
          <%= link_to "/" do%>
            <%= image_tag @user.icon_img.url,class:"host-icon"%>
          <% end %>
        </div>
        <div class="room-show-profile">
          <p>
            <%= @room.room_name %>
          </p>
          <p>
            <%= @room.address %>
          </p>
        </div>
        <%= @room.room_introduction %>
      </div>
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</div>