<!DOCTYPE html>
<html>
  <head>
    <title>PoteShareApp2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
    <header>
      <div class="header-inner">
        <div class="header-left-nav">
          <%= link_to "/" do%>
            <%= image_tag "logo.png", class: "header-logo-link"%>
          <% end %>
            <input class="header-sharch">
            <input class="header-sharch">
        </div>
        
        <div class="header-right-nav">
          <% if user_signed_in? %>
          <div class="nav-item">
            user.name
          </div>
          <div class="nav-item">
            メニュー
            <ul class="header-nav-menu">
              <li>
                <%= link_to "ルーム登録","#"  %>
              </li>
              <li>
                <%= link_to "予約済みルーム一覧", "#" %>
              </li>
              <li>
                <%= link_to "登録済みルーム一覧", "#" %>
              </li>
              <li>
                <%= link_to "設定", "#" %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path,{method: "delete"} %>
              </li>
            </ul>
          </div>
          <% else %>
            <div class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary my-2 mx-3" %>
              <%= link_to "登録する", new_user_registration_path, class: "btn btn-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

    <%= yield %>
    
    <footer>
      <p>© 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
